.navbar {
  height: 40px;
  display: flex;
  position: fixed;
  color: white;
  z-index: 3;
  background-color: #4f67fb;
}
.navbar-logo {
  margin-left: 4vw;
  width: 50vw;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.navbar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: flex-end;
  align-items: center;
}

.navbar-item {
  font-size: 1.2rem;
  margin: 0 5vw 0 0;
}

.navbar-item a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.navbar-item:hover,
:focus {
  border-bottom: 2px solid white;
}

/* background-color: darkslategrey; */
