@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .navbar svg {
    width: 5vw;
    height: 2.5vh;
    margin-right: 1vw;
    cursor: pointer;
  }

  .navbar-list {
    flex-direction: column;
    position: absolute;
    top: 4.5vh;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    z-index: 1000;
    background-color: rgba(47, 79, 79, 0.95);
    transition: all ease 0.8s;
  }

  .navbar-item {
    font-size: 1.5rem;
  }

  .home-img {
    width: 40vw;
    height: 40vw;
  }

  .about-container {
    height: 90vh;
  }

  .about-container .about-info-details {
    margin-top: 3vh;
    margin-bottom: 5vh;
  }

  .skills-subcontainer,
  .projects-subcontainer,
  .about-subcontainer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
  }

  .skills-subcontainer {
    margin-top: 3vh;
  }
  .about-subcontainer .about-img,
  .about-subcontainer .about-info {
    position: unset;
    width: 85%;
  }

  .about-title-border {
    width: 10vw;
  }

  .skills-subcontainer .skills-info {
    width: 85%;
  }

  .project-container .project-img {
    width: 70vw;
    height: 30vh;

    overflow: hidden;
  }
  .project-description {
    height: 30vh;
    width: 70vw;
  }
  .project-container .project-img img {
    width: 55%;
    height: 55%;
  }
  .projects-subcontainer {
    height: auto;
  }
  .home-container,
  #About,
  #Skills,
  #Projects,
  #Contact {
    padding-top: 5vh;
  }
  #Projects {
    height: 130vh;
  }
  #Contact {
    margin-top: 40vh;
  }
  #Contact .skills-subcontainer {
    flex-direction: column-reverse;
    text-align: center;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-info .skills-info-title {
    width: max-content;
  }
}
